<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demonstration of ChatGPT API in a Python Flask Application">

    <title>Launchpad Chat-GPT</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sophie from Launchpad</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">

                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <br>
        <br>
        <h1 class="mt-5">Meet Sophie, your work assistant</h1>
        <p class="lead" style="color: red">
            Protect sensitive information related to clients and the bank. Do not post any information classified as
            Confidential (C3) or Secret (C4) - see <a
                href="https://juliusbaer.policytech.eu/dotNet/documents/?docid=10456">Policy JBG-2202-00</a>
        </p>


        <div id="list-group" class="list-group w-auto">
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="twbs" width="32" height="32"
                     class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <p class="mb-0 opacity-75">Hi, my name is Sophie, how may I help you?</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" id="chat-input">
            <div class="input-group-append">
                <button id="chat-button" class="btn btn-primary">Ask Sophie</button>

                <!-- Here's the new "Get Graph" button -->
                <button id="graph-button" class="btn btn-secondary">Get Graph</button>
            </div>
        </div>


    </div>
</main>


<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script>
    function handleResponse(question, isGraph = false) {
        $.ajax({
            type: "POST",
            url: "/",
            contentType: 'application/json',
            data: JSON.stringify({'prompt': question}),
            success: function (data) {
                let text_response = data.text;
                let graphviz_code = data.graphviz_code;

                // Display GPT's text response
                let html_response = `
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                    <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <p class="mb-0 opacity-75">${text_response}</p>
                        </div>
                    </div>
                </a>
                `;
                $("#list-group").append(html_response);

                if (isGraph && graphviz_code && graphviz_code.trim() !== "") {
                    $.ajax({
                        type: "POST",
                        url: "/generate_image",
                        contentType: 'application/json',
                        data: JSON.stringify({'graph_code': graphviz_code}),
                        success: function (response) {
                            let base = response.image_data;
                            let html_graph = `
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div style="max-width: 90%; margin: 0 auto;">
                                        <img src="data:image/png;base64,${base}" class="img-fluid" alt="response-image">
                                    </div>

                                </div>
                            </a>
                            `;
                            $("#list-group").append(html_graph);
                        }
                    });
                }
            }
        });
    }

    $("#chat-button").click(function () {
        var question = $("#chat-input").val();
        let html_user_question = `
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3">
                    <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <p class="mb-0 opacity-75">You: ${question}</p>
                        </div>
                    </div>
                </a>
                `;
        $("#list-group").append(html_user_question);
        handleResponse(question);
    });

    $("#graph-button").click(function () {
        handleResponse("present it on a graph use GRAPHWIZ DOT code begin the code with [GRAPH] and end with [/GRAPH]", true);  // "true" indicates it's for the graph request.
    });
</script>

</body>
</html>




